body{
width:800px;
height:650px;
background-image:url(../img/topimg.gif);
background-position:center center;
background-repeat:no-repeat;
background-attachment:fixed;
background-size:contain;
background-color:#ffffff;
}